<header class="masthead">
  {% if page.layout == 'home' %}
    <h1 class="masthead-title">
      <a href="{{ '/' | relative_url }}" title="Home">{{ site.title }}</a>
      <small class="tagline">{{ site.tagline }}</small>
    </h1>
  {% else %}
    <div class="masthead-title">
      <a href="{{ '/' | relative_url }}" title="Home">{{ site.title }}</a>
      <small class="tagline">{{ site.tagline }}</small>
    </div>
  {% endif %}

  {% if site.data.navigation %}
    <nav class="nav">
      <ul class="nav-list">
      {% for item in site.data.navigation %}
        <li class="nav-item">
          <a href="{{ item.url | relative_url }}" class="{% if page.url == item.url %}current{% endif %}">
            {{ item.title }}
          </a>
        </li>
      {% endfor %}
        <li class="nav-item">
          <a href="{{ '/buscar/' | relative_url }}" title="Buscar">
            {% include icon.html name='search' %}
          </a>
        </li>
      </ul>
    </nav>
  {% endif %}
</header>
